{% from "macros/fields.html" import render_text_field %}
{% from 'macros/flash.html' import flash  %}
{% extends "layout.html" %}

{%- block main_content %}
<div class="container-xl">
    <h2 class="text-center">Add New Sale</h2>
	{{ flash() }}
    <form name="add sale" method="post" novalidate class="form">
        <div class="mb-4">
            {{ form.hidden_tag() }}
            {{ render_text_field(form.date)}}
            {{ render_text_field(form.product)}}
            {{ render_text_field(form.price)}}
            {{ render_text_field(form.customer)}}
            
            <div>
                {{ form.submit(class="btn btn-primary my-4") }}
            </div>
        </div>
        
    </form>
</div>
{% endblock %}