{% from "macros/fields.html" import render_text_field %}
{% from 'macros/flash.html' import flash  %}
{% extends "layout.html" %}

{%- block main_content %}
<div class="container-xl">
	{{ flash() }}
    <div>
        {% if form %}
        <h2 class="text-center">Edit Sale</h2>
        <form name="update sale" method="post" novalidate class="form">
            <div class="mb-4">
                {{ form.hidden_tag() }}
                {{ render_text_field(form.date)}}
                {{ render_text_field(form.product)}}
                {{ render_text_field(form.price)}}
                {{ render_text_field(form.customer)}}
                {{ render_text_field(form.details)}}
                
                <div class="my-4 d-md-flex justify-content-between">
                    {{ form.submit(class="btn btn-primary") }}
                    <a class="btn btn-danger" href="{{url_for('pages.delete_sale', _id=sale_id)}}" role="button">delete sale</a>
                    
                </div>
            </div>
            
        </form>

        {% else %}
            <h6>Sale not found</h6>
        {% endif %}
    </div>
</div>
{% endblock %}