{% from "macros/fields.html" import render_text_field %}
{% from "macros/flash.html" import flash %}
{% extends "layout.html" %}

{%- block main_content %}
    <h1 class="title">Login</h1>
    <form name="login" method="post" novalidate class="form">
		{{ flash() }}

        <div class="form__container">
            {{ form.hidden_tag() }}
            {{ render_text_field(form.email)}}
            {{ render_text_field(form.password)}}
            
            <div>
                {{ form.submit(class="button button--form") }}
            </div>
        </div>
        
    </form>
{% endblock %}