{% from 'macros/flash.html' import flash  %}
{% extends "layout.html" %}

{%- block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home_styles.css')}}">
{% endblock head_content %}

{%- block main_content%}
<div class="container-xl">

    <h1 class="title">Welcome back, {{name}}!</h1>
    {{ flash() }}
    <!-- table of recent sales -->
    <h2>Recent sales</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <!--generate headers-->
                <th scope="col">Product</th>
                <th scope="col">price</th>
                <th scope="col">date</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td> {{sale.product}} </td>
                <td> {{sale.price}} </td>
                <td> {{sale.date.date()}} </td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
    <!-- button to go to all sales (different page)-->
    <div class="fixed-bottom d-flex justify-content-end">
        <a class="btn btn-primary m-5" role="button" href="{{ url_for('pages.sales') }}">add sale</a>
    </div>
</div>
{% endblock %}