{% from "macros/fields.html" import render_text_field %}
{% extends "layout.html" %}

{%- block main_content %}
<div class="container-xl">
	<h1 class="title">Register</h1>
    <form name="add sale" method="post" novalidate class="form">
        <div class="mb-a">
            {{ form.hidden_tag() }}
            {{ render_text_field(form.email)}}
            {{ render_text_field(form.name)}}
            {{ render_text_field(form.password)}}
            {{ render_text_field(form.confirm_password)}}
            
            <div>
                {{ form.submit(class="btn btn-primary my-4") }}
            </div>
        </div>
        
    </form>
</div>
{% endblock %}