{% extends 'layout.html' %}

{%- block main_content %}
	<h1 class="title">Sales</h1>
	<h2>{{month}}</h2>
	<table class="table__sales">
        <tr class="table__row table__row--header">
            <!--generate headers-->
            <th class="table__header">Product</th>
            <th class="table__header">price</th>
            <th class="table__header">date</th>
        </tr>
        {% for sale in sales %}
            <tr class="table__row">
                <td class="table__data"> {{sale.product}} </td>
                <td class="table__data"> {{sale.cost}} </td>
                <td class="table__data"> {{sale.date.date()}} </td>
            </tr>            
        {% endfor %}
    </table>

        
    <div>
    {% if date['month'] == 12 %}
            <a class="button__next" href = "{{url_for('pages.sales_view')}}?year={{date['year'] +1}}&month=1">next month</a>        
    {% else %}
            <a class="button__next" href = "{{url_for('pages.sales_view')}}?year={{date['year']}}&month={{date['month'] + 1}}">next month</a>
    {% endif %}
    
    {% if date['month'] == 1 %}
            <a class="button__next" href = "{{url_for('pages.sales_view')}}?year={{date['year'] -1}}&month=12">previous month</a>        
    {% else %}
            <a class="button__next" href = "{{url_for('pages.sales_view')}}?year={{date['year']}}&month={{date['month'] - 1}}">previous month</a>
    {% endif %}
            
    </div>
{% endblock %}